<div class="container">
  {{#each notes}}
  <div class="card card-body mb-2 mt-2">
    <h4 >{{title}}</h4>
    <p>{{details}}</p>
    <a class="btn btn-info btn-block mb-2" href="/notes/edit/{{id}}"><i class="fas fa-edit"></i> Edit</a>
    <form method="post" action="/notes/{{id}}?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-dark btn-block" value="Delete"></form>
    </form>
  </div>
{{else}}
  <p>No video notes listed</p>
{{/each}}
</div>
